.componentContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.cardsButtonsLoadingContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 60vh;
}

.cardsButtonsContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	width: 50vw;
}

.cardResultContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.tarotCard {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	border: 1px solid black;
	padding: 7px;
	width: 25vw;
	min-width: 200px;
	max-width: 300px;
	height: 425px;
	color: black;
	background-color: white;
	border-radius: 25px;
}

/* animations */

@keyframes show {
	0% {
		transform: translateY(2000px);
	}

	100% {
		transform: translateY(-14px);
	}
}

@keyframes fluctuate {
	0% {
		-webkit-transform: translateY(-14px);
		transform: translateY(-14px);
	}
	50% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
	100% {
		-webkit-transform: translateY(-14px);
		transform: translateY(-14px);
	}
}
