.componentContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 100px;
	width: 100vw;
	height: 100vh;
}

.cardsButtonsLoadingContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	height: 300;
	gap: 40px;
}

.cardsButtonsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-direction: row;
	width: 90%;
	height: 200px;
}

.button7 {
	align-items: center;
	background-clip: padding-box;
	background-color: #f3e1b9;
	border: 1px solid transparent;
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: #052124;
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: min(1.2vmax, 16px);
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: 90px;
	height: 30px;
}

.cardResultContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	margin-left: 300px;
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	background-color: rgba(0, 0, 0, 0.97); /* Semi-transparent dark background */
	color: white;
	z-index: 30;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	gap: 20;
	letter-spacing: 1.2px;
	line-height: 1.5;
	overflow: auto;
}

.ptext {
	font-size: 24px;
}

/* .tarotCard:not(.modal) {
	Add this style to blur the background when the modal is open
	filter: blur(5px);
} */

/* animations */

@keyframes show {
	0% {
		transform: translateY(2000px);
	}

	100% {
		transform: translateY(-14px);
	}
}

@keyframes fluctuate {
	0% {
		-webkit-transform: translateY(-14px);
		transform: translateY(-14px);
	}
	50% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
	100% {
		-webkit-transform: translateY(-14px);
		transform: translateY(-14px);
	}
}
