.cardsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.buttonsContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
}
