:root {
	--var-main-60: #f7eedb;
	--var-main-30: #052124;
	--var-main-10: #52b7b5;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loading-spinner {
	width: 50px;
	height: 50px;
	border: 10px solid var(--var-main-10); /* Light grey */
	border-top: 10px solid var(--var-main-30); /* Black */
	border-radius: 50%;
	animation: spinner 1.5s linear infinite;
}
