/*TODO:  Make sure the style changes here don't destroy  styles everywhere  else */

.toggler {
	/* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
	z-index: 100;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	/*This hides the tickcheckbox behind the cross */
	opacity: 0;
	overflow: hidden;
}

.hamburger {
	position: absolute;
	z-index: 50;
	top: 25px;
	left: 15px;
	height: 50px;
	width: 50px;
	/* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */
}

/* CREATING THE MIDDLE LINE OF THE HAMBURGER : */
.hamburger > div {
	background-color: white;
	height: 2px;
	width: 30px;
	transition: all 0.4s ease;
}

/* CREATING THE TOP AND BOTTOM LINES : 
TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */
.hamburger > div::before,
.hamburger > div::after {
	content: "";
	position: absolute;
	top: -10px;
	background: white;
	width: 30px;
	height: 2px;
	transition: all 0.4s ease;
}

.hamburger > div::after {
	top: 10px;
}

/* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO TRANSPARENT */
.toggler:checked + .hamburger > div {
	background: transparent;
}

.toggler:checked + .hamburger > div::before {
	top: 0;
	transform: rotate(45deg);
	background: black;
}

/* AND ROTATING THE TOP AND BOTTOM LINES :  */
.toggler:checked + .hamburger > div::after {
	top: 0;
	transform: rotate(135deg);
	background: black;
}

/* MAIN MENU WITH THE BACKGROUND AND THE TEXT :  */
.menu {
	background-color: rgb(255, 238, 237);
	position: absolute;
	padding-top: 40px;
	width: 0vw;
	left: 0;
	top: 0;
	height: 100vh;
	z-index: 40;
	/* APPLYING TRANSITION TO THE MENU :  */
	transition: all 0.5s ease;
}

/* IF THE TOGGLER IS CHECKED, THEN INCREASE THE WIDTH OF THE MENU TO 30% , CREATING A SMOOTH EFFECT :  */

.toggler:checked ~ .menu {
	width: 15vw;
	flex-shrink: 0;
	height: 100%;
	transition: all 0.5s ease;
}

.menu > nav {
	position: absolute;
	display: none;
	visibility: none;
	width: 100%;
	background-color: rgb(255, 238, 237);
}

.toggler:checked ~ .menu > nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	visibility: visible;
	transition: visibility 0.4s ease;
	transition-delay: 0.1s;
	visibility: visible;
	height: 100vh;
	z-index: 40;
}

/* STYLING THE menu  */

.menu > nav > a::before {
	color: black;
	visibility: hidden;
	cursor: none;
}

.menu > nav > a:hover::before {
	color: black;
	visibility: hidden;
	cursor: none;
}

.menu > nav > a::after {
	color: black;
	visibility: visible;
}

/* WHEN THE TOGGLER IS CHECKED, CHANGE THE VISIBILITY TO VISIBLE :  */

.toggler:checked ~ .menu > nav > a {
	transition: visibility 0.4s ease;
	visibility: visible;
	transition-delay: 0.2s;
	margin-top: 15px;
	padding-left: 10px;
	font-size: min(1vmax, 20px);
}

.toggler:checked ~ .menu > nav > a:hover {
	color: orange;
}
