@font-face {
	font-family: "Lumanosimo";
	src: local("Lumanosimo-Regular"),
		url("./assets/fonts/Lumanosimo/Lumanosimo-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "MoriaCitadel";
	src: local("MoriaCitadel"),
		url("./assets/fonts/moria-citadel/MoriaCitadel.ttf") format("truetype");
}

:root {
	--var-main-60: #f7eedb;
	--var-main-30: #052124;
	--var-main-10: #52b7b5;

	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark light;
	color: var(--var-main-30);
	background-color: var(--var-main-60);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: var(--var-main-30);
	text-decoration: inherit;
}
a:hover {
	color: var(--var-main-10);
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--var-main-30);
	color: var(--var-main-60);
	cursor: pointer;
}
button:hover {
	transform: scale(1);
	border-color: var(--var-main-10);
	transition: 0.1s ease-in-out;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: var(--var-main-60);
		background-color: var(--var-main-30);
	}
	a:hover {
		color: var(--var-main-10);
	}
	button {
		background-color: var(--var-main-60);
		color: var(--var-main-30);
	}
}
